<div class="headline">
  <div class="wrapper">
    <div class="picWrapper fadein">
      <img src="/assets/img/banners/42.jpg" />
      <img src="/assets/img/banners/trucks.jpg" />
    </div>
    <h1>Wireless</h1>
  </div>
</div>

<div class="wrapper">

  <div class="block w-25 white">
    <div class="pad-3-0-3-0">
      <img src="/assets/img/bw.png" style="width: 100%;" />
    </div>
  </div>

  <div class="block w-75 white">
    <div class="pad-3-3-3-3">
      <h2>We Have The Northeast Covered:</h2>
      <p>Heidrea Communications' goal is to meet all of our customers' needs in every aspect of the wireless construction market throughout New England, New York, and Pennsylvania. We have crew dispatch locations in <strong>Bellingham, MA</strong>, <strong>East Windsor, CT</strong>, and <strong>Oriskany, NY</strong> to meet customer demand.</p>
    </div>
  </div>

  <div class="block w-50 clear white">
    <div class="pad-0-3-0-0">
      <h2>Services</h2>
      <p>The ever-increasing demand for expanded bandwidth has necessitated and ability for us to offer a broad range of wireless services. Among the many we offer are:</p>
      <ul>
        <li>DAS installations</li>
        <li>DC power plant enhancements</li>
        <li>System testing and integration</li>
        <li>Battery installations</li>
      </ul>
    </div>
  </div>

  <div class="block w-50 bottom white">
    <h2>Safety</h2>
    <p>All Heidrea employees are required to adhere to a commitment to excellence regarding safety and compliance.  To allow its employees to meet this standard, training has been provided in the areas of OSHA 10 &amp; 30, hoisting, crane &amp; hand signals, First Aid, and CPR.  The goal of Heidrea is to satisfy our customers' expectation in a manner that also allows our employees to identify, avoid, prevent and control hazardous situations in the workplace.</p>
  </div>

</div>

<div class="contact-form" style="display: none;">
  <div class="wrapper">
    <a href="#" onclick="toggleContactForm(); return false;">
      <img src="/assets/img/closeContact.png" class="closeContact" />
    </a>
    <div class="block w-100"><h2>Contact Us</h2></div>
    <form id="contactForm">
      <div class="block w-50">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="Name" />
        <label for="email">Email</label>
        <input id="email" name="_replyto" type="email" placeholder="Email" />
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text" placeholder="Phone" />
      </div>
      <div class="block w-50">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="10" placeholder="Message"></textarea>
        <a href="#" id="send-contact" onclick="submitTo('gforse@heidrea.com'); return false;">Send</a>
      </div>
    </form>
  </div>
</div>

<div class="interested" onclick="toggleContactForm(); return false;">
  <div class="wrapper">
    <p>
      <img src="/assets/img/megaphone.png" class="megaphone" />
      Interested in a quote or more information?
      <a href="#">Contact Us</a>!
      <a href="#">
        <img src="/assets/img/openContact.png" class="openContact" />
      </a>
    </p>
  </div>
</div>
