<script>
  if (window.location.href.indexOf("about-heidrea.html") > -1) { window.location = "http://www.heidrea.com/about-us/" }
  if (window.location.href.indexOf("contact-heidrea.html") > -1) { window.location = "http://www.heidrea.com/about-us/" }
  if (window.location.href.indexOf("co-locations-wireless.html") > -1) { window.location = "http://www.heidrea.com/wireless/" }
  if (window.location.href.indexOf("tower-inspections-wireless.html") > -1) { window.location = "http://www.heidrea.com/wireless/" }
</script>
