<div id="backroundPic"></div>

<div class="wrapper top">
  <div id="banner" class="block w-60">
    <div class="pad-3-3-3-3">
      <h1>THE BEST IN WIRELESS CONSTRUCTION &amp; INSTALLATION</h1>
      <p>Heidrea Communications' goal is to meet all of our customers' needs in every aspect of the wireless construction market throughout New England, New York, and Pennsylvania. We have crew dispatch locations in Bellingham, MA, East Windsor, CT, and Oriskany, NY to meet customer demand.</p>
    </div>
  </div>
</div>

<div id="container">
  <div class="wrapper" id="lede">

    <div class="block w-60">
      <h2>The ever-increasing demand for expanded bandwidth has necessitated an ability for us to offer a broad range of wireless services.</h2>
    </div>

    <div class="block w-40">
      <div>
        <h2>Featured services:</h2>
        <ul>
          <li>DAS installations</li>
          <li>DC power plant enhancements</li>
          <li>System testing and integration</li>
          <li>Battery installations</li>
        </ul>
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>
</div>

<div class="wrapper">

  <div class="block w-55 white bottom clear">
    <div class="pad-3-0-3-0">
      <h2>Employee Safety is a Guiding Principle of Heidrea</h2>
      <p>All Heidrea employees are required to adhere to a commitment to excellence regarding safety and compliance. To allow its employees to meet this standard, training has been provided in the areas of OSHA 10 &amp; 30, hoisting, crane &amp; hand signals, First Aid, and CPR. The goal of Heidrea is to satisfy our customers' expectation in a manner that also allows our employees to identify, avoid, prevent and control hazardous situations in the workplace.</p>
    </div>
  </div>

  <div class="block w-45 white bottom">
    <div class="pad-7-0-3-0">
      <center><img src="/assets/img/osha.png" style="height: 60px;" alt="osha" /></center>
    </div>
  </div>

</div>
