<div class="headline">
  <div class="wrapper">
    <div class="picWrapper fadein">
      <img src="/assets/img/banners/3.jpg" />
      <img src="/assets/img/banners/8.jpg" />
      <img src="/assets/img/banners/9.jpg" />
      <img src="/assets/img/banners/15.jpg" />
      <img src="/assets/img/banners/23.jpg" />
      <img src="/assets/img/banners/30.jpg" />
      <img src="/assets/img/banners/34.jpg" />
      <img src="/assets/img/banners/36.jpg" />
      <img src="/assets/img/banners/42.jpg" />
      <img src="/assets/img/banners/49.jpg" />
    </div>
    <h1>About Us</h1>
  </div>
</div>

<div class="wrapper">

  <div class="block w-100 white">
    <div class="pad-3-0-3-0">
      <p><strong>Heidrea Communications</strong> is a veteran-owned, limited liability company incorporated in the state of Massachusetts since 2008. While we are a general contracting firm our primary focus is on building and maintaining wireless communications towers.</p>
    </div>
  </div>

  <div class="block w-100 white"><h2>Our Founders</h2></div>

  <div class="block w-15 white">
    <div class="pad-0-3-0-0">
      <img src="/assets/img/directorJesseBrown.png" style="height: 160px;" />
    </div>
  </div>

  <div class="block w-85 white">
    <h3 style="margin-top: 0px;">Jesse G. Brown</h3>
    <h4>Co-Founder</h4>
    <p>Jesse designs, develops, communicates, and executes the strategic goals of the company in support of his vision to meet all customer needs in every aspect of the wireless construction market. Jesse leads the company by overseeing the day-to-day operations, including; project management, estimation and bidding for jobs, finances, job scheduling, material purchases and safety.</p>
    <p>As a Marine Corps Veteran, Jesse maintains strong partnerships in the Veteran community through Heidrea For Heroes. Jesse is sensitive to the day to day hardships endured by Veterans injured in the line of service. He is personally dedicated to provide Veterans and their families the support needed through local services, specialized equipment, and individual projects. His commitment to the success of his foundation will serve the Veteran community for years to come.</p>
  </div>

  <div class="block w-15 white">
    <div class="pad-0-3-0-0">
      <img src="/assets/img/directorMattMastroianni.png" style="height: 160px;" />
    </div>
  </div>

  <div class="block w-85 white bottom">
    <h3 style="margin-top: 0px;">Matthew Mastroianni</h3>
    <h4>Co-Founder</h4>
    <p>Matthew has extensive experience in the wireless industry, having held leadership roles in wireless companies for over six years. Matthew oversees a field staff of over 50 employees, where he successfully ensures jobs are completed timely, within budget, with a focus on safety protocols. He also manages a fleet of company vehicles and warehouse inventories.</p>
    <p>Matthew is a Marine Corps Veteran who continuously gives back to those in his community and throughout the state of Massachusetts who have served in the military. Heidrea For Heroes is the perfect avenue for his ongoing commitment to assisting Veterans.</p>
  </div>

  <hr />

  <div class="block w-100 white"><h2>Community</h2></div>

  <div class="block w-65 white bottom">
    <p>Jesse Brown and Matthew Mastroianni are the co-founders and current board members of Heidrea for Heroes. H4H is a charitable organization, whose mission is to provide adaptive housing and transportation, Veteran/family support, and specialized equipment that will inspire and motivate veterans and families to move forward in a positive direction during unexpected hardships as a result of the unselfish acts of our United States Veterans.</p>
    <p>To learn more about the efforts of this organization, please visit its website <a href="https://heidrea4heroes.org">www.heidrea4heroes.org</a>.</p>
  </div>

  <div class="block w-35 white bottom">
    <center><img src="/assets/img/heidreaforheroes.png" style="height: 140px;" /></center>
  </div>

  <hr />

  <div class="block w-100 white"><h2>News</h2></div>

  <div class="block w-15 white">
    <center><img src="http://www.heidrea.com/images/homepage/news2.jpg" style="width: 160px;" /></center>
  </div>

  <div class="block w-85 white bottom">
    <div class="pad-0-0-0-3">
      <h3 style="margin-top: 0;">Heidrea Communications won the Veteran-Owned Small Business of the Year award for 2013 Here are the owners on the cover of Cape &amp; Plymouth Business</h3>
      <p>Heidrea Communications LLC is a veteran- owned business specializing in the wireless industry. We have locations in Plymouth, MA, Bellingham, MA, and Oriskany, NY, to optimize our response time to our customers in the Northeast and Upstate New York. Heidrea’s goal is to meet our customers’ needs in every aspect of the wireless construction market with a primary focus on tower construction and maintenance throughout New England and Upstate New York. Our Bellingham site is a 6,500-square-foot, two-story office, along with a 6,000-square-foot secure, climate-controlled warehouse and secured outdoor storage on 6.5 acres. Some of the services that we offer are: microwave installations and alignments, co-locations, tower erection and upgrades, tower inspections &amp; mapping, structural analysis, mounts and platforms, site lighting and painting. Recently, Heidrea has ventured into self-sustainable energy with the construction of solar energy fields.</p>
      <p><a href="http://www.pageturnpro.com/Cape-Business-Publishing-Group/50368-May-2013/index.html#1">Read the full article here</a></p>
    </div>
  </div>

  <div class="block w-15 white">
    <center><img src="http://www.heidrea.com/images/homepage/news3.jpg" style="width: 160px;" /></center>
  </div>

  <div class="block w-85 white bottom">
    <div class="pad-0-0-0-3">
      <h3 style="margin-top: 0;">Snarled osprey rescued from tower in Harwich by Heidrea Communications employees</h3>
      <p>Scott Phillipo, left, and Chris Townsend of Heidrea Communications try to rescue an osprey caught on a communication tower. The osprey had been dangling by one foot for hours in the sun.</p>
      <p><a href="http://www.capecodonline.com/apps/pbcs.dll/article?AID=/20130711/NEWS/307110329&cid=sitesearch">Read the full article here</a></p>
    </div>
  </div>

  <div class="block w-15 white">
    <center><img src="http://www.heidrea.com/images/homepage/news4.jpg" style="width: 160px;" /></center>
  </div>

  <div class="block w-85 white bottom">
    <div class="pad-0-0-0-3">
      <h3 style="margin-top: 0;">Bellingham company specializes in tower construction</h3>
      <p>It's only seems appropriate that Heidrea Communications LLC has incorporated the Marine Corps' motto of semper fi - always faithful - into its operation. That's because its two founders, Jesse Brown and Matt Mastroianni are both Marine Corps veterans and also because more than 30 percent of the company's 38 employees are U.S. veterans. Its work has not gone unnoticed.</p>
      <p>The Bellingham company, a general contracting firm specializing in the wireless industry and focusing on tower construction and maintenance, recently received the Massachusetts Small Business Administration (SBA) Veteran-Owned Small Business of the Year Award for 2013 from the U.S. SBA.</p>
      <p>The selection for this award was based on staying power, growth in number of employees, increase in sales and/or unit volume, current and past financial reports, innovation of product or service, and response to adversity and community contributions. Heidrea Communications was nominated for the award by Anne Trevisani, a vice president and commercial loan officer for South Eastern Economic Development Corp. in Taunton.</p>
      <p><a href="http://www.metrowestdailynews.com/business/x369942098/Bellingham-company-specializes-in-tower-construction?img=1">Read the full article here</a></p>
    </div>
  </div>

</div>
