<div class="headline">
  <div class="wrapper">
    <div class="picWrapper fadein">
      <img src="/assets/img/banners/3.jpg" />
      <img src="/assets/img/banners/8.jpg" />
      <img src="/assets/img/banners/9.jpg" />
      <img src="/assets/img/banners/15.jpg" />
      <img src="/assets/img/banners/23.jpg" />
      <img src="/assets/img/banners/30.jpg" />
      <img src="/assets/img/banners/34.jpg" />
      <img src="/assets/img/banners/36.jpg" />
      <img src="/assets/img/banners/42.jpg" />
      <img src="/assets/img/banners/49.jpg" />
    </div>
    <h1>Ancillary Services</h1>
  </div>
</div>

<div class="wrapper">

  <div class="block w-25 white">
    <div class="pad-3-0-3-0">
      <img src="/assets/img/bw.png" style="width: 100%;" />
    </div>
  </div>

  <div class="block w-75 white">
    <div class="pad-3-3-3-3">
      <h2>Other Features of Heidrea</h2>
      <p>Within our Mendon, MA facility, Heidrea offers a range of services that broaden the capabilities of our traditional business divisions.</p>
    </div>
  </div>

  <div class="block w-100 white"><h2>Welding/Fabrication</h2></div>

  <div class="block w-65 white">
    <p>Specializing in commercial applications, Heidrea Communications has a highly-trained staff to meet your general welding needs. Working within our first-class weld shop, we offer the highest quality workmanship in steel and metal fabrication.</p>
  </div>

  <div class="block w-35 white">
    <center><img src="/assets/img/welding.jpg" style="height: 120px;" /></center>
  </div>

  <div class="block w-100 white"><h2>Authorized Distributor - Ideal Concrete Block &amp; Pavers</h2></div>


  <div class="block w-65 white">
    <p>Ideal Pavers offers a range of products to make your outside living space more enjoyable and visually appealing. As an authorized distributor, Heidrea can provide you a price quote for the products to turn these visions into a reality.</p>
  </div>

  <div class="block w-35 white">
    <center><img src="/assets/img/ideal.png" style="height: 80px;" /></center>
  </div>


  <div class="block w-100 white"><h2>Safety Training &amp; Meeting Center</h2></div>

  <div class="block w-65 white">
    <p>Heidrea's commitment to employee safety is one of the company's guiding principles that all employees adhere to. In order to promote this philosophy, a first-class safety training center has been built within our Mendon, MA office. It is set up for both in-class/lecture style instruction and hands-on training, and is also available for hosting business meetings to organizations within and outside of the construction industry.</p>
  </div>

  <div class="block w-35 white bottom">
    <center><img src="/assets/img/MendonTrainingCenter.jpg" style="height: 150px;" /></center>
  </div>

</div>
