<div class="headline">
  <div class="wrapper">
    <div class="picWrapper fadein">
      <img src="/assets/img/banners/100.jpg" />
      <img src="/assets/img/banners/103.jpg" />
      <img src="/assets/img/banners/107.jpg" />
      <img src="/assets/img/banners/114.jpg" />
      <img src="/assets/img/banners/115.jpg" />
      <img src="/assets/img/banners/116.jpg" />
      <img src="/assets/img/banners/117.jpg" />
    </div>
    <h1>Electrical</h1>
  </div>
</div>

<div class="wrapper">

  <div class="block w-25 white">
    <div class="pad-3-0-3-0">
      <img src="/assets/img/bw.png" style="width: 100%;" />
    </div>
  </div>

  <div class="block w-75 white">
    <div class="pad-3-3-3-3">
      <h2>Diversified services. Unvarying quality.</h2>
      <p>Heidrea's electrical division is a licensed, full-service electrical contractor performing industrial electric, commercial electric, and residential electrical installation and service.</p>
    </div>
  </div>

  <div class="block w-50 white clear">
    <h2>Residential Services</h2>
    <ul>
      <li>ADDITIONS AND RENOVATIONS</li>
      <li>EXTERIOR AND INTERIOR LIGHTING</li>
      <li>LANDSCAPE LIGHTING</li>
      <li>GENERATORS</li>
      <li>TELE/DATA OUTLET ADDS</li>
      <li>COMPLETE HOME WIRING</li>
      <li>SERVICE CHANGES</li>
      <li>HEATING AND AIR CONDITIONING WIRING</li>
      <li>POOLS AND HOT TUBS</li>
      <li>ROOF ICE MELTING SYSTEMS</li>
    </ul>
  </div>

  <div class="block w-50 white bottom">
    <h2>Commercial Services</h2>
    <ul>
      <li>TROUBLESHOOTING</li>
      <li>EXTERIOR AND INTERIOR LIGHTING</li>
      <li>PARKING LOT LIGHTING</li>
      <li>GENERATORS</li>
      <li>TELE/DATA OUTLET ADDS</li>
      <li>COMPLETE WIRING FOR RETAIL/WAREHOUSE SPACE</li>
      <li>SERVICE CHANGES</li>
      <li>OFFICE LIGHTING RENOVATIONS</li>
      <li>HVAC WIRING</li>
      <li>WIRING OF PUMPS AND MOTORS</li>
      <li>EXITS AND EMERGENCY LIGHTING</li>
    </ul>
  </div>

</div>

<div class="contact-form" style="display: none;">
  <div class="wrapper">
    <a href="#" onclick="toggleContactForm(); return false;">
      <img src="/assets/img/closeContact.png" class="closeContact" />
    </a>
    <div class="block w-100"><h2>Contact Us</h2></div>
    <div class="block w-100">
      <p>Heidrea's electrical division-head, Michael Romano, can be reached at 781-588-7686 (between 7:00AM-5:00PM), <a href="mailto:MRomano@Heidrea.com">MRomano@Heidrea.com</a>, or by sending a message below.</p>
    </div>
    <form id="contactForm">
      <div class="block w-50">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="Name" />
        <label for="email">Email</label>
        <input id="email" name="_replyto" type="email" placeholder="Email" />
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text" placeholder="Phone" />
      </div>
      <div class="block w-50">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="10" placeholder="Message"></textarea>
        <a href="#" id="send-contact" onclick="submitTo('mromano@heidrea.com'); return false;">Send</a>
      </div>
    </form>
  </div>
</div>

<div class="interested" onclick="toggleContactForm(); return false;">
  <div class="wrapper">
    <p>
      <img src="/assets/img/megaphone.png" class="megaphone" />
      Interested in a quote or more information?
      <a href="#">Contact Us</a>!
      <a href="#">
        <img src="/assets/img/openContact.png" class="openContact" />
      </a>
    </p>
  </div>
</div>
