<div class="headline">
  <div class="wrapper">
    <div class="picWrapper fadein">
      <img src="/assets/img/banners/skycat.jpg" />
      <img src="/assets/img/banners/3.jpg" />
      <img src="/assets/img/banners/8.jpg" />
      <img src="/assets/img/banners/9.jpg" />
      <img src="/assets/img/banners/15.jpg" />
      <img src="/assets/img/banners/23.jpg" />
      <img src="/assets/img/banners/30.jpg" />
      <img src="/assets/img/banners/34.jpg" />
      <img src="/assets/img/banners/36.jpg" />
      <img src="/assets/img/banners/49.jpg" />
    </div>
    <h1>Construction</h1>
  </div>
</div>

<div class="wrapper">

  <div class="block w-25 white">
    <div class="pad-3-0-3-0">
      <img src="/assets/img/bw.png" style="width: 100%;" />
    </div>
  </div>

  <div class="block w-75 white">
    <div class="pad-3-3-3-3">
      <h2>Quality work. Honest service. Great Value.</h2>
      <p>Heidrea's full-service construction division prides itself in providing over 20 years' experience in design and installation to perform high-quality work on any size project. Each customer is provided a dedicated project manager who will be in constant contact on the status of the project. Furthermore, Heidrea has the advantage of utilizing its in-house electrical division, which ensures completion of projects with minimal use of outside contractors. Our combination of experienced personnel using state-of-the-art design software and innovative equipment ensures a high-quality end-product as well as a highly satisfied customer.</p>
    </div>
  </div>

  <div class="block w-100 white">
    <a href="#" style="text-decoration: none;" onclick="toggleContent('excavation'); return false;">
      <h2>+ Excavation</h2>
    </a>
  </div>

  <div class="block w-65 white excavation" style="display: none;">
    <p>Fully licensed and over 20 years of experience in the excavation field our operators can achieve success in the most challenging environments. Foundations, electrical, water, and gas line trenching, new lawns, grade changing, driveway installs, concrete flatwork, dump truck services, small crane services and land clearing are a few of the services we can provide you.</p>
  </div>

  <div class="block w-35 white excavation" style="display: none;">
    <center><img src="/assets/img/banners/49.jpg" style="height: 150px;" /></center>
  </div>


  <div class="block w-100 white">
    <a href="#" style="text-decoration: none;" onclick="toggleContent('carpentry'); return false;">
      <h2>+ Carpentry</h2>
    </a>
  </div>

  <div class="block w-65 white carpentry" style="display: none;">
    <p>Our crews and crew leaders are professional and courteous and work with the client throughout the entire project.  Finish carpentry, Kitchen remodels, additions, new construction, bathroom remodels, tile installation, flooring, and decks are a few of the services we can provide.  Innovative thinking and attention to detail always leaves our clients impressed with our finished product.</p>
  </div>

  <div class="block w-35 white carpentry" style="display: none;">
    <center><img src="/assets/img/banners/36.jpg" style="height: 150px;" /></center>
  </div>


  <div class="block w-100 white">
    <a href="#" style="text-decoration: none;" onclick="toggleContent('demolition'); return false;">
      <h2>+ Demolition</h2>
    </a>
  </div>

  <div class="block w-65 white demolition" style="display: none;">
    <p>Keeping a neat and organized job site is key to a successful demolition job.  With our equipment and work ethic we can handle a wide variety of jobs from residential in home demo to large scale concrete removal.  We have the right tools and the experience to accomplish all jobs in a neat and orderly fashion.</p>
  </div>

  <div class="block w-35 white demolition" style="display: none;">
    <center class="demolition-fadein">
      <img src="/assets/img/banners/8.jpg" style="height: 150px;" />
      <img src="/assets/img/banners/15.jpg" style="height: 150px;" />
      <img src="/assets/img/banners/34.jpg" style="height: 150px;" />
    </center>
  </div>

  <div class="block w-100 white">
    <a href="#" style="text-decoration: none;" onclick="toggleContent('hardscapes'); return false;">
      <h2>+ Digitally Designed Hardscapes</h2>
    </a>
  </div>

  <div class="block w-65 white hardscapes" style="display: none;">
    <p>Using the industry-leading software PRO Landscape we are able to give you a product the helps you visualize the final product before we break ground.  Clients are able to make any design changes before the product is installed.  Heidrea can design and install your outdoor living spaces including custom concrete tables, counter tops, water features, fire places, patios, walkways, home landscapes and outdoor kitchens.</p>
  </div>

  <div class="block w-35 white hardscapes" style="display: none;">
    <center class="hardscapes-fadein">
      <img src="/assets/img/banners/9.jpg" style="height: 150px;" />
      <img src="/assets/img/banners/10.jpg" style="height: 150px;" />
      <img src="/assets/img/banners/23.jpg" style="height: 150px;" />
      <img src="/assets/img/banners/30.jpg" style="height: 150px;" />
    </center>
  </div>

  <div class="block w-100 white">
    <a href="#" style="text-decoration: none;" onclick="toggleContent('distributor'); return false;">
      <h2>+ Authorized Distributor - Ideal Concrete Block &amp; Pavers</h2>
    </a>
  </div>

  <div class="block w-100 white distributor" style="display: none;">
    <p>Your home reflects your unique style and taste. From a welcoming walkway... impressive driveway... relaxing garden patio... an outdoor room complete with barbecue and cozy fire pit... sun-splashed pool deck... stylish landscape walls... a backyard paradise to enjoy with family and friends... we have the products that suit your style, taste and budget.</p>
    <p><a href="www.idealconcreteblock.com">www.idealconcreteblock.com</a></p>
  </div>

  <div class="block w-100 bottom"></div>
</div>

<div class="contact-form" style="display: none;">
  <div class="wrapper">
    <a href="#" onclick="toggleContactForm(); return false;">
      <img src="/assets/img/closeContact.png" class="closeContact" />
    </a>
    <div class="block w-100"><h2>Contact Us</h2></div>
    <div class="block w-100">
      <p>Heidrea's construction division-head, Ethan Dunbar, can be reached at 508-789-3947 (between 7:00AM-5:00PM), <a href="mailto:EDunbar@Heidrea.com">EDunbar@Heidrea.com</a>, or by sending a message below.</p>
    </div>
    <form id="contactForm">
      <div class="block w-50">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="Name" />
        <label for="email">Email</label>
        <input id="email" name="_replyto" type="email" placeholder="Email" />
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text" placeholder="Phone" />
      </div>
      <div class="block w-50">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="10" placeholder="Message"></textarea>
        <a href="#" id="send-contact" onclick="submitTo('edunbar@heidrea.com'); return false;">Send</a>
      </div>
    </form>
  </div>
</div>

<div class="interested" onclick="toggleContactForm(); return false;">
  <div class="wrapper">
    <p>
      <img src="/assets/img/megaphone.png" class="megaphone" />
      Interested in a quote or more information?
      <a href="#">Contact Us</a>!
      <a href="#">
        <img src="/assets/img/openContact.png" class="openContact" />
      </a>
    </p>
  </div>
</div>
