<div class="headline">
  <div class="wrapper">
    <div class="picWrapper fadein">
      <img src="/assets/img/banners/careers1.jpg" />
      <img src="/assets/img/banners/careers2.jpg" />
      <img src="/assets/img/banners/careers3.jpg" />
      <img src="/assets/img/banners/careers5.jpg" />
      <img src="/assets/img/banners/careers6.jpg" />
      <img src="/assets/img/banners/careers7.jpg" />
      <img src="/assets/img/banners/careers8.jpg" />
      <img src="/assets/img/banners/careers9.jpg" />
    </div>
    <h1>Careers</h1>
  </div>
</div>

<div class="wrapper">

  <div class="block w-100 white"><br /><h2 id="hiring">We Are Hiring</h2></div>

  <div class="block w-100 white bottom">
    <p>If you are looking for a career in a growth oriented, rapidly expanding industry, we have a job for you!</p>
    <p>Career opportunities are available, whether you have experience or just want to start a new and exciting career, Heidrea is a great place to begin.</p>
  </div>

  <hr />

  <div class="block w-35 white">
    <h3>Do you have what it takes? Apply today.</h3>
    <p>1 William Way<br />Bellingham, MA 02019<br />Phone: (508) 473-1990<br />Fax: (508) 473-1991</p>
    <p><a href="mailto:employment@heidrea.com" id="apply-btn">APPLY</a></p>
    <p><br /><br /><img src="/assets/img/VOSB.jpg" width="200" /></p>
  </div>

  <div class="block w-65 white bottom">
    <div class="pad-0-0-0-3">
      <h4>Tower Technicians</h4>
      <p>Tower Technicians, also referred to as climbers, work as a team to install, maintain, repair and modify a variety of wireless equipment on infrastructures. Tower Technicians must be in good physical condition, and enjoy climbing with zero fear of heights.</p>
      <h4>Installer Technicians</h4>
      <p>Installer technicians work in all kinds of environments and are responsible for installing and commissioning DC Power and Battery plants as well as central office / MTSO telecom equipment. Installers clean, test, splice and connect fiber optic cables and terminate various types of cables such as twisted pair copper, coaxial, power, fiber, CAT5/CAT6 &amp; RG8 cabling. Electrical experience is preferred for this position.</p>
      <h4>Civil Laborers</h4>
      <p>Civil Laborers perform a variety of construction related duties such carpentry, demolition, excavation concrete and more! General construction and labor experience is preferred.</p>
      <h4>Electricians</h4>
      <p>Heidrea's electrical division works to install low voltage and D.C cabling in both the telecommunication and electrical industry. Wiring and installations are performed on residential, commercial and industrial facilities. Heidrea is always looking to hire Journeyman and Apprentice Electricians with preferred experience to join our team!</p>
      <h4>Benefits</h4>
      <p>We offer competitive benefits packages and pay.</p>
      <ul>
        <li>Competitive Pay</li>
        <li>Medical, Dental &amp; Vision Benefits</li>
        <li>Life Insurance</li>
        <li>Short Term and Long Term Disability</li>
        <li>401K Retirement Plan</li>
        <li>Vacation, Sick &amp; Holiday Pay</li>
        <li>Safety and Training Programs</li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="block w-100 white bottom">
    <p>Heidrea Communications, LLC provides equal employment opportunities (EEO) to all employees and applicants without regard to race, color, religion, sex, national origin, age, disability or genetics. In addition to federal law requirements Heidrea Communications complies with applicable state and local laws governing nondiscrimination in employment in every location in which the company has facilities.</p>
  </div>

</div>
